* { 
	margin: 0; padding: 0; 
}
body {
	font-family: 'bodonixtregular', serif;

}


#wrap {
	width: 95%;
	height: 100%;
	margin:0 auto;
	background-color: white;
}

.Centrado-texto {
	margin: 100px auto;
	width: 65%;
	text-transform: uppercase;
	text-align: center;
	line-height: 100px
}

.contenido {
	width: 75%;
	max-width: 1024px;
	margin: 200px auto;
}

pre {
	font-family: 'bodonixtregular', serif;
	font-size: 2.0vmax;
	line-height: 3.5vmax;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	margin: 20px 0
}

.Poema {
	font-size: 3.0vmax;
	letter-spacing: 0vmax;
}

.Subtitulo {
	font-size: 4.5vmax;
	letter-spacing: 5px;
}

.texto-alto {
	font-size: 3.0vmax; 
	letter-spacing: 3px
}

.texto {
	font-size: 2.0vmax; 
	text-transform: none
}
.italic {
	letter-spacing: 0px;
	font-style: italic;
	display: inline;
	text-transform: none;
}

.titulo {
	text-transform: uppercase;
	font-size: 6.0vmax;
	margin: 200px 50px 50px;
}

.espacio {
	margin-bottom: 500px;
}






/*Responsive Tablet*/
@media screen and (max-width: 1024px){

	#wrap {
	width: 100%;
	background-color: white;
	margin:0 auto;
}

	.Centrado-texto {
	margin: 100px auto;
	width: 95%;
	background-color: yellow;
	line-height: 50px

}

.contenido {
	width: 100%;
	margin: 0 auto
}

}






/*Responsive Movil*/
@media screen and (max-width: 480px){

body {
}
	#wrap {
	width: 100%;
	background-color: white;
	margin:0 auto;
}

	.Centrado-texto {
	margin: 100px auto;
	width: 95%;
	background-color: orange;
	line-height: 50px

}

.contenido {
	width: 95%;
	margin: 0 auto
}

.Subtitulo {
	font-size: 6.5vmin;
	letter-spacing: 5px;
}

.texto-alto {
	font-size: 5vmin; 
	letter-spacing: 3px
}


.titulo {
	text-transform: uppercase;
	font-size: 8.8vmin;
	margin: 400px 2% 5%;
}

.espacio {
	margin-bottom: 400px;

}

pre {
	font-family: 'bodonixtregular', serif;
	font-size: 1.5vmin;
	letter-spacing: 0;
	line-height: 5.5vmin;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	margin: 20px 0
}

.Poema {
	font-size: 4.0vmax;
	letter-spacing: 0vmax;
}

}